[submodule "contracts/zero-ex/contracts/deps/forge-std"]
	path = contracts/zero-ex/contracts/deps/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/utils/contracts/src/forge-std"]
	path = contracts/utils/contracts/src/forge-std
	url = https://github.com/foundry-rs/forge-std
